:root {
  --light-grey: #f6f6f6;
  --red: #fc5850;
  --orange: #fdb929;
  --green: #20cc4c;
  --dark-blue-transp: rgba(17,16,34,.95);
  --blue-transp: rgba(41,42,72,.95);
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.app {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
  display: flex;
}




.sidebar {
  flex: 1 38%;
  background-color: var(--dark-blue-transp);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


ul.os-buttons {
  padding: 6px 12px;
}

  .os-buttons li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 7px;
    cursor: pointer;
  }
  .os-buttons li:nth-child(1) {
    background-color: var(--red);
  }
  .os-buttons li:nth-child(2) {
    background-color: var(--orange);
  }
  .os-buttons li:nth-child(3) {
    background-color: var(--green);
  }


ul.options {}

  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 12px;
    cursor: pointer;
  }
  .option--current {
    background-color: var(--blue-transp);
  }

    .option__title {}

      .option__title img {
        vertical-align: text-top;
      }

      .option__title h4 {
        font-weight: normal;
        display: inline;
        color: white;
        margin-left: 8px;
        white-space: nowrap;
      }

    .option__number {
      font-weight: normal;
      margin: 0 0 0 8px;
      color: rgba(255,255,255,.6);
    }




.board {
  flex: 1 62%;
  background-color: var(--light-grey);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 20px;
  overflow-y: scroll;
}


  .date {
    opacity: .5;
    margin: 10px 0;
  }


  .issue {
    background-color: white;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    margin: 10px 0;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
  }

    .issue__title {
      margin: 0;
    }

    .issue__star {}




@media(min-width: 768px){

  .app {
    width: 80%;
  }

  .sidebar {
    flex: 1 30%;
  }
  .board {
    flex: 1 70%;
  }

}

@media(min-width: 1024px){

  .app {
    width: 65%;
  }

  .sidebar {
    flex: 1 22%;
  }

    .option {
      padding: 16px 18px;
    }

    .option__title h4 {
      margin-left: 10px;
    }

  .board {
    flex: 1 78%;
  }

}
